<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowerpot.service.system.mapper.SysUserMapper">


    <select id="getPage" resultType="com.flowerpot.service.system.dto.SysUserDto">
        select
           su.id,
           su.dept_id deptId,
           d.name deptName,
           su.role_id roleId,
           r.name roleName,
           sui.avatar avatar,
           su.nickname nickname,
           su.account account,
           su.mailbox mailbox,
           sui.qq qq,
           sui.phone phone,
           su.create_by createBy,
           su.create_time createTime,
           su.modify_by modifyBy,
           su.modify_time modifyTime
        from sys_user su
        join sys_user_info sui on sui.user_id = su.id
        left join sys_dept d on su.dept_id = d.id
        left join `sys_role` r on su.role_id = r.id
        where
        su.effective = 1
    </select>
</mapper>

